/*Title(for both pages)*/
html, body {
    height: 100%;
    margin: 0;
}
.header {
    overflow: hidden;
    background-color: #7B1113;
}
.logo {
    float: left;
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 8px;
}
.title {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: 750;
    font-family: 'Segoe UI';
    margin-left: 10px;
}
.space {
    height: 15px;
}

/*Homepage Style*/
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 91px);
    background-image: url('PUP-CITE.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Main Menu */
.menu {
    border: 2px solid black;
    width: 700px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-sizing: border-box;
    backdrop-filter: blur(6px);
}
.menu-title {
    text-align: center;
    font-size: 35px;
    font-weight: 750;
    font-family: 'Segoe UI';
}
.menu-text {
    font-size: 20px;
    font-family: 'Segoe UI';
}
.nav-button {
    background-color: grey;
    padding: 7px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    font-family: 'Segoe UI';
    display: block;
    margin: 0 auto;
}
.nav-button:hover {
    background-color: #7B1113;
}

/*Floor Buttons*/
.elevator {
    display: block;
}

.floor1 {
    background-color: grey;
    padding: 7px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI';
}
.floor1:hover {
    background-color: #7B1113;
}

.floor2 {
    background-color: grey;
    padding: 7px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI';
}
.floor2:hover {
    background-color: #7B1113;
}

.floor3 {
    background-color: grey;
    padding: 7px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI';
}
.floor3:hover {
    background-color: #7B1113;
}

.floor4 {
    background-color: grey;
    padding: 7px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI';
}
.floor4:hover {
    background-color: #7B1113;
}

.backtohome {
    background-color: grey;
    padding: 7px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI';
}
.backtohome:hover {
    background-color: #7B1113;
}

.space2 {
    height: 20px;
}
/*Map Image*/
.responsive-map {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
}
/*Maps*/
.map1 {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 100%;
    height: auto;
}

.map2 {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 100%;
    height: auto;
}

.map3 {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 100%;
    height: auto;
}

.map4 {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 100%;
    height: auto;
}
/*Active Map*/
.map {
    display: none;
}

.map.active {
    display: block;
}

.map img {
    display: block;
}

.floorbutton.active {
    background-color: #7B1113;
}
/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50vw;
  height: 50vh;
  z-index: 1;
  display: none;
}
.active .modal-overlay {
  display: block;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 4px black;
  border-style: solid;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  width: 700px;
  height: 625px;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
}
.active .modal-content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
.modal-title {
  text-align: center;
  font-family: 'Segoe UI';
  font-weight: 800;
  font-size: 35px;
}
.modal-display{
  width: calc(100% - 20px);
  padding: 5px;
  margin: 5px 0;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 20px;
  font-family: 'Segoe UI';
}
.modal-image{
  width: calc(100% - 20px);
  padding: 5px;
  margin: 5px 0;
  border: 3px solid black;
  border-radius: 8px;
  overflow: auto;
  white-space: nowrap;
}
/*Modal Images*/
.roomimage {
    height: 100%;
    width: 100%;
    padding: 5px;
}

/* Close Button */
.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: black;
    transition: color 0.3s;
}

.close:hover {
    background-color: red;
}